{% load static tailwind_tags %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title>Restaurant App | {% block head_title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% comment %} {% tailwind_preload_css %} {% endcomment %}
    {% tailwind_css %}
    {% render_javascript %}
  </head>

  <body class="h-full">
    <div class="flex h-screen">
      <div class="w-1/2 m-auto py-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
